*.iml
*.ipr
*.iws
target/
.idea
logs/
out/
*.tld
stacktrace.log
grails-app/conf/LocalConfig.groovy
CodeNarcReport.html
cobertura.ser
s3-plugin-temp/
*.swp
*.log
.DS_Store/plugins
.idea
web-app/robots.txt

